@import "tailwindcss";


.Toastify__toast-container {
  top: 10% !important;
  width: 90% !important;
  max-width: 400px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  padding: 0 16px !important;
}

@media (min-width: 640px) {
  .Toastify__toast-container {
    width: auto !important;
    max-width: 400px !important;
    left: auto !important;
    right: 1rem !important;
    transform: none !important;
    padding: 0 !important;
  }
}

.Toastify__toast {
  margin-bottom: 0.75rem !important;
  border-radius: 0.5rem !important;
  font-size: 0.875rem !important;
  padding: 0.75rem 1rem !important;
}

@media (min-width: 640px) {
  .Toastify__toast {
    font-size: 0.875rem !important;
    padding: 1rem !important;
  }
}
